In [1]:
import pandas as pd

In [2]:
# csv file variable assignments

monthes = 12

for month in range(1,monthes+1):
    if month < 10:
        #print("path_"+str(month))
        print(f"data/JC-20200{month}-citibike-tripdata.csv")
    else:
        print(f"data/JC-2020{month}-citibike-tripdata.csv")

data/JC-202001-citibike-tripdata.csv
data/JC-202002-citibike-tripdata.csv
data/JC-202003-citibike-tripdata.csv
data/JC-202004-citibike-tripdata.csv
data/JC-202005-citibike-tripdata.csv
data/JC-202006-citibike-tripdata.csv
data/JC-202007-citibike-tripdata.csv
data/JC-202008-citibike-tripdata.csv
data/JC-202009-citibike-tripdata.csv
data/JC-202010-citibike-tripdata.csv
data/JC-202011-citibike-tripdata.csv
data/JC-202012-citibike-tripdata.csv

In [3]:
# Appending all CSV files in the folder into one dataframe

# csv file variable assignments

monthes = 12
total_df=[]

for month in range(1,monthes+1):
    #path = "month_"+month
    if month == 1:
        path = str("data/JC-20200"+str(month)+"-citibike-tripdata.csv")
        total_df = pd.read_csv(path)
        print(path)
        print(total_df.value_counts().count())

    if (month < 10)&(month>1):
        path = str("data/JC-20200"+str(month)+"-citibike-tripdata.csv")
        month_df = pd.read_csv(path)
        print(path)
        total_df = total_df.append(month_df, ignore_index=True)
        print(total_df.value_counts().count())

    if month >=10:
        path = "data/JC-2020"+str(month)+"-citibike-tripdata.csv"
        print(path)
        month_df = pd.read_csv(path)
        total_df = total_df.append(month_df, ignore_index=True)
        print(total_df.value_counts().count())

data/JC-202001-citibike-tripdata.csv
26020
data/JC-202002-citibike-tripdata.csv
48982
data/JC-202003-citibike-tripdata.csv
66701
data/JC-202004-citibike-tripdata.csv
75969
data/JC-202005-citibike-tripdata.csv
101046
data/JC-202006-citibike-tripdata.csv
137967

ParserError: Error tokenizing data. C error: EOF inside string starting at row 27648

In [17]:
total_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336797,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
336798,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
336799,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
336800,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
336801,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [4]:
# Cleaning data
#Removing all NULL data from the farme

total_clean_df = total_df.dropna()

total_clean_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137962,2828,2020-06-30 23:53:19.7380,2020-07-01 00:40:28.5760,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,0
137963,2729,2020-06-30 23:54:44.0100,2020-07-01 00:40:13.6470,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,0
137964,2788,2020-06-30 23:54:52.1920,2020-07-01 00:41:20.6500,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,0
137965,2702,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,0
137966,2649,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,2

In [5]:
#Writing new database into the final CSV final

total_clean_df.to_csv("data/total_2020_cityBike.csv", index=False, header=True)